* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 15px;
    transition: 0.3s;
    border: solid 1px #ddd;
}

.card:hover {
    box-shadow: 0px 10px 30px -20px;
}

.image-container {
    position: relative;
    width: 20rem;
    img {
        width: 100%;
    }
}

.title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
}