* {
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: min-content;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 10px;
    transition: 0.3s;
    border: solid 1px #ddd;
}

.card:hover {
    box-shadow: 0px 10px 30px -20px;
}

.image-container {
    position: relative;
    width: 20rem;
    img {
        width: 100%;
    }
}

.num-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    margin: 1rem 0;
}

.score-container {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.price-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.buttons-container {
    width: 100%;
    margin-top: 1rem;
    button {
        width: 100%;
        padding: 10px;
        border: solid 2px #2c95f7;
        outline: none;
        background-color: #2c95f7;
        font-size: 1.3rem;
        border-radius: 0.5rem;
        color: #fff;
        transition: 0.3s;
    }

    button:hover {
        border:solid 2px #2c95f7;
        background-color: #fff;
        color: #2c95f7;
    }
}